files:
  "/opt/elasticbeanstalk/tasks/publishlogs.d/better-call-buffet.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/*.log
      /var/app/current/logs/*.err
      
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.better-call-buffet.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/*.log {
        size 10M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat -%Y%m%d-%H%M%S
      }
