Resources:
  AWSEBV2LoadBalancerListenerHTTPS: # A unique logical ID for the listener resource
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: {"Ref": "AWSEBV2LoadBalancer"} # Refers to the EB-created ALB
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: arn:aws:acm:us-east-1:905418297381:certificate/dafb169c-8fc9-4370-b9d4-ae1753868f35
      DefaultActions:
        - Type: forward
          TargetGroupArn: {"Ref": "AWSEBV2LoadBalancerTargetGroup"} #   Refers to the EB-created default target group